<!-- multistep form -->
<div class="aParent">
    <div>
        <form id="msform" class="display-form">

            <!-- fieldsets -->
            <fieldset>
                <h2 class="fs-title">Enter Topic</h2>
                <input type="text" name="topic" id="topic_name" class="stop-fetch" placeholder="Topic" />
                <input type="submit" name="next" class="action-button" value="Show Data" />
            </fieldset>

        </form>
    </div>
    <div>
        <form id="download" class="display-form">

            <!-- fieldsets -->
            <fieldset>
                <h2 class="fs-title">Select Date to Download</h2>
                <input type="text" name="daterange" />
                <input type="button" name="next" class="action-button" value="Download" />
            </fieldset>

        </form>
    </div>
</div>
<div class="cards" id="display-div" style="display: none;">
    <div class="card card-1">
        <div class="card__icon"><i class="fas fa-bolt"></i></div>
        <p class="card__exit"><i class="fas fa-times"></i></p>
        <div id="cards-container">

        </div>
        <p class="card__apply">
            <a class="card__link" id="timestamp_1"><i class="fas fa-arrow-right"></i></a>
        </p>
    </div>
</div>

<script id="card-template" type="text/x-handlebars-template">
    <ul id="add_data">
        <li class="card__title">{{payload}} - {{timestamp}}</li>
    </ul>
</script>

<script type="text/javascript">
    jQuery('#topic_name').on('input', function () {
        jQuery("#display-div").hide();
        jQuery("#topic_name").addClass("stop-fetch");
    });
    jQuery(document).ready(function () {
        setInterval(function () {
            if (!jQuery("#topic_name").hasClass('stop-fetch')) {
                sendAjaxRequest($('#topic_name').val())
            }
        }, 5000);

        $('input[name="daterange"]').daterangepicker();
        jQuery("#msform").validate({
            ignore: [],
            rules: {
                topic: {
                    required: true,
                },
            }
        })



        const form = document.getElementById('msform');

        form.addEventListener('submit', function (event) {
            const label = document.querySelector('label[for="topic_name"]');

            // Wait for 5 seconds before removing the label
            if (label) {
                setTimeout(function () {
                    label.style.display = "none";
                }, 5000);
            }
            const $form = jQuery("#msform");
            const result = $form.valid()
            event.preventDefault(); // Prevent the default form submission
            if (result) {
                sendAjaxRequest($("#topic_name").val())
            }
        });

    })

    function sendAjaxRequest(topicName) {
        jQuery.ajax({
            url: '/topic',
            type: 'POST',
            data: { topic: topicName }
        }).done(response => {
            if (response.data && Object.keys(response.data).length != 0) {
                jQuery("#display-div").show();
                jQuery("#topic_name").removeClass("stop-fetch");
                renderResponse(response.data);
            } else {
                jQuery("#display-div").hide();
                jQuery("#topic_name").addClass("stop-fetch");
            }
        }).fail(function (xhr, textStatus, errorThrown) {
            jQuery("#display-div").hide();
            jQuery("#topic_name").addClass("stop-fetch");
        });
    }

    function renderResponse(response) {
        try {
            const source = document.getElementById('card-template').innerHTML;
            const template = Handlebars.compile(source);

            // Get the container where you want to append the cards
            const container = document.getElementById('cards-container');

            // Clear the existing content in the container if needed
            container.innerHTML = '';

            // Iterate over the data and append a card for each item
            response.forEach(item => {
                const cardHtml = template(item);
                container.insertAdjacentHTML('beforeend', cardHtml);
            });
        } catch (error) {
            console.error("Error rendering data:", error);
        }
    }

</script>